.all{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10%;
    margin-right: 10%;
}
h1{
    margin: 25px;
    text-align: center;
}
.text{
    font-weight: normal;
    font-size: 12pt;
}
.links{
    display: flex;
    justify-content: space-around;
}
button{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 12pt;
    margin-top: 15px;
    margin-bottom: 15px;
}
.adopt{
    border: 1px solid gold;
    color: gold;
}
.like{
    border: 1px solid rgb(7, 75, 7);
    color: rgb(7, 75, 7);
}